* { box-sizing: border-box; }
body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.4;
}

header, main, footer {
    
}

header {

}

footer {

}

nav {

}

section {

}

form {

}

label {

}

input {

}

button {

}

img {

}